#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.container{
  box-shadow: 0 0 10px wheat;
  max-height: 500px;
}
h2{
  line-height: 30px;
  font-family: serif;
}
p{
  line-height: 24px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
  transition: border-color 0.25s;
}
